<div class="recAll py-5">
    <div class="container">
        <div class="row">

          

         <div class="col-md-9 mx-auto mt-5">
          <div class="row">
            <div class="col-md-10">
                <input [(ngModel)]='term' type="text" class="form-control"> 
               
            </div>
            <div class="col-md-2">
                 <button class="btn btn-danger">search</button>
            </div>
          </div>

         </div>

            <div class="col-md-12 py-2">
                <h2>recipes !!</h2>
            </div>

           
            <div class="col-md-3 text-center my-4" *ngFor="let recipe of allRecipes|search:term">
                <div  [routerLink]="['/recipesDetails' , recipe.recipe_id]">
                <img [src]="recipe.image_url" class="w-100 mb-2 recImg" alt="">
                <h3 class="h6">{{recipe.title}}</h3>
                <p>By : {{recipe.publisher}}</p>
                <a class="btn btn-danger" [href]="recipe.publisher_url">see more</a>
                </div>
            </div>


            <div class="col-md-3 text-center my-4" *ngFor='let pasta of pastaRecipes|search:term'>
                <div routerLink='/recipesDetails'>
                <img [src]="pasta.image_url" class="w-100 mb-2 recImg" alt="">
                <h3 class="h6">{{pasta.title}}</h3>
                <p>By : {{pasta.publisher}}</p>
                <a class="btn btn-danger" [href]="pasta.publisher_url">see more</a>
                </div>
            </div> 

        </div>
    </div>
</div>