<div class="container-fluid pb-5">
    <div class="container recAll">
        <div class="row">
            <div class="col-md-7 mx-auto text-center py-5">
                <h2>Never Miss a Recipe!</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed tincidunt ut laoreet dolore magna aliquam erat volutpat l</p>
            </div>


        </div>
        <div class="row mb-5">
            <div class="col-md-4  ">
                <div class="text-center  border p-2">
                    <h3>recipe</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nisi et, nihil atque vel perspiciatis recusandae quas id sint ad reprehenderit pariatur commodi similique minima.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nisi et, nihil atque vel perspiciatis recusandae quas id sint ad reprehenderit pariatur commodi similique minima.</p>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="text-center border p-2">
                    <h3>recipe</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nisi et, nihil atque vel perspiciatis recusandae quas id sint ad reprehenderit pariatur commodi similique minima.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nisi et, nihil atque vel perspiciatis recusandae quas id sint ad reprehenderit pariatur commodi similique minima.</p>
                </div>
            </div>
            <div class="col-md-4 ">
                
                <div class="text-center border p-2">
                    <h3>recipe</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nisi et, nihil atque vel perspiciatis recusandae quas id sint ad reprehenderit pariatur commodi similique minima.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nisi et, nihil atque vel perspiciatis recusandae quas id sint ad reprehenderit pariatur commodi similique minima.</p>
                </div>
            </div>
        </div>

    </div>



</div>
